@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,700&display=swap');

html {
  font-family: 'Lato', sans-serif;
  color:#101010 ;
}

#root {
  color: 101010;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  grid-gap: 10px;
}

.Navbar {
  border-radius: 20px;
  border: rgb(218, 218, 218) solid 1px;
  background-color: #E4E9DC;
  height: 100%;
  grid-column: 1/2;
  justify-items: center;
  width: 300px;
  color: #101010;
}

.FormContainer {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 500px;
}

.form-group {
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.form {
  margin: 65px 0px;
  width: 100%;
  height: 250px;

}

.form-group input,
.form-group select {
  width: 80%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.btn {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #72D1C8;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86%;
}

.rightContainer {
  border: rgb(218, 218, 218) solid 1px;
  grid-column: 2/13;
  min-width: 400px;
  border-radius: 20px;
  background-color: #E4E9DC;
}

.KafkaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.KafkaCard {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 20px 50px 20px;
  min-width: 250px;
  min-height: 250px;
  flex-wrap: wrap;
  justify-content: space-around;

}

.KafkaContainer > #KafkaContainerTitle {
  display: flex;
  /* background-color: white; */
  border-radius: 10px;
  flex-direction: column;
  padding: 0 30px 0 30px;
  margin: 20px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.graphPlaceholder {
  border: grey solid 1px;
  width: 100px;
  height: 150px;
}

.BrokerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.BrokerContainer > #BrokerContainerTitle {
  display: flex;
  /* background-color: white; */
  border-radius: 10px;
  flex-direction: column;
  padding: 0 30px 0 30px;
  margin: 20px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.BrokerCard { 
  color: #101010;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 20px 50px 20px;
  min-width: 250px;
  min-height: 250px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.BrokerCard:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.BrokerCard:hover::before, .BrokerCard:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 101%;
  height: 101%;
  background: #FDA8CF;
  border-radius: 10px;
  z-index: -1;
  animation: 2s clockwise infinite;
}

.BrokerCard:hover:after {
  background: #F3CE5E;
  animation: 3s counterclockwise infinite;
  height: 101%;
  width: 101%;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

/* trying to center the logo, username and password entry boxes */
.logo {
  display: flex;
  justify-content: center;
  width: 300px;
}

.CardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  z-index: 0;
}

.modal {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8; 
  padding: 20px;
  width: 70%; 
  height: 50%;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #888;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  font-size: 24px;
}

a {
  color: #fff;
  text-decoration: none;
}

.p-menu1{
   height: 20%;
}



/* Hamburger */
.hamburger1 {
  height: 32px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: left;
  z-index: 120;

}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 32px;
  height: 4px;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 18px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -4px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 200px;
}


/* Menu */
.menu1 {
  width: 100%;
  background-color: #11789C;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-template-rows: 50px repeat(1, 50px);
  grid-row-gap: 10px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 14px 'Oswald', sans-serif;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#sortby {
  font-weight: bold;
  margin-right: 10px;
}

/* Style the select dropdown */
#sortbydrop {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none; /* remove default appearance for some browsers */
  -webkit-appearance: none; /* for Chrome and Safari */
  -moz-appearance: none; /* for Firefox */
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

/* Hover effect */
#sortbydrop:hover {
  background-color: #f0f0f0;
}

/* Style the dropdown arrow inside select (optional) */
#sortbydrop::-ms-expand {
  display: none; /* for IE11 */
}

#sortbydrop:after {
  content: '\25BC';  /* Unicode downward arrow */
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none; /* make sure clicking on the arrow doesn't do anything */
}

.navigation {
  display: flex;       /* Use flexbox layout */
  flex-direction: column;  /* Arrange children vertically */
}

.hamburgerAndImageContainer {
  display: flex;        /* Use flexbox layout for horizontal arrangement */
  align-items: center;  /* Center items vertically */
}

.menuImage {
  height: 45px;  /* or whatever height you want for your image */
  width: auto;   /* maintains aspect ratio */
  margin-left: 10px; /* space between hamburger and the image */
  align-self: center; /* aligns vertically to the center, assuming parent has display: grid or flex */
}

